<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.romac.alfred.BitcoinStats</string>
	<key>connections</key>
	<dict>
		<key>B35323EA-4CEE-4A81-8679-8870826394B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C699FA24-7A51-403D-B65D-B8DD4744A4EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Romain Ruetschi</string>
	<key>description</key>
	<string>Bitcoin stats from realtimebitcoin.info</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Bitcoin Stats</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C699FA24-7A51-403D-B65D-B8DD4744A4EF</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>btc</string>
				<key>runningsubtext</key>
				<string>Stats gathered from realtimebitcoin.info</string>
				<key>script</key>
				<string>
$DEFAULT_CURRENCY = 'USD';

$SHOW_CREDITS = true;
$SHOW_HELP = true;

setlocale( LC_ALL, 'en_US.UTF-8' );

$opts = array(
  'http' =&gt; array(
    'method'=&gt; 'GET',
    'header'=&gt; 'User-Agent: Alfred-Bitcoin-Stats/1.0'
  )
);
$context = stream_context_create( $opts );
$json = file_get_contents( 'http://realtimebitcoin.info/stats', false, $context );
$stats = json_decode( $json );

$currency = strtoupper( trim( "{query}" ) );

if( !$currency || !isset( $stats-&gt;ticker-&gt;$currency ) ) {
    $currency = $DEFAULT_CURRENCY;
}

$symbol = $stats-&gt;ticker-&gt;$currency-&gt;symbol;
unset( $stats-&gt;ticker-&gt;$currency-&gt;symbol );

if( mb_strlen( $symbol, 'utf-8' ) &gt; 1 ) {
    $symbol .= ' ';
}

$labels = array(
    'last' =&gt; 'Now',
    'buy'  =&gt; 'Buy',
    'sell' =&gt; 'Sell',
    '15m'  =&gt; '15m ago',
    '24h'  =&gt; '24h ago'
);

print '&lt;?xml version="1.0"?&gt;' . "\n";
print '&lt;items&gt;' . "\n";

foreach( $labels as $key =&gt; $label ) {
    $value = number_format( $stats-&gt;ticker-&gt;$currency-&gt;$key, 2, '.', '\'' );
    $value = $symbol . $value;
    print '  &lt;item uid="btc-' . $key . '-' . uniqid() . '" arg="' . $value . '"&gt;' . "\n";
    print '    &lt;title&gt;' . $label . ': ' . $value . '&lt;/title&gt;' . "\n";
    print '    &lt;subtitle&gt;Exchange rate&lt;/subtitle&gt;' . "\n";
    print '    &lt;icon&gt;icon.png&lt;/icon&gt;' . "\n";
    print '  &lt;/item&gt;' . "\n";
}

$total = number_format( $stats-&gt;totalbtc, 0, '', '\'' );
print '  &lt;item uid="btc-totalbtc-' . uniqid() . '" arg="' . $total . '"&gt;' . "\n";
print '    &lt;title&gt;' .$total  . '&lt;/title&gt;' . "\n";
print '    &lt;subtitle&gt;Coins in circulation&lt;/subtitle&gt;' . "\n";
print '    &lt;icon&gt;icon.png&lt;/icon&gt;' . "\n";
print '  &lt;/item&gt;' . "\n";

if( !empty( $SHOW_CREDITS ) ) {
	print '  &lt;item uid="btc-credits-' . uniqid() . '" arg="http://realtimebitcoin.info"&gt;' . "\n";
	print '    &lt;title&gt;Credits&lt;/title&gt;' . "\n";
	print '    &lt;subtitle&gt;Stats gathered from realtimebitcoin.info&lt;/subtitle&gt;' . "\n";
	print '    &lt;icon&gt;icon.png&lt;/icon&gt;' . "\n";
	print '  &lt;/item&gt;' . "\n";
}

if( !empty( $SHOW_HELP ) ) {
	print '  &lt;item uid="btc-help-' . uniqid() . '" valid="no"&gt;' . "\n";
	print '    &lt;title&gt;Help&lt;/title&gt;' . "\n";
	print '    &lt;subtitle&gt;Press enter to copy any value above to clipboard&lt;/subtitle&gt;' . "\n";
	print '    &lt;icon&gt;icon.png&lt;/icon&gt;' . "\n";
	print '  &lt;/item&gt;' . "\n";
}

/*
$currencies = implode( array_keys( ( array )$stats-&gt;ticker ), ', ' );
print '  &lt;item uid="btc-currencies-' . uniqid() . '" arg="' . $currencies . '"&gt;' . "\n";
print '    &lt;title&gt;Copy available currencies&lt;/title&gt;' . "\n";
print '    &lt;subtitle&gt;' . $currencies . '&lt;/subtitle&gt;' . "\n";
print '    &lt;icon&gt;icon.png&lt;/icon&gt;' . "\n";
print '  &lt;/item&gt;' . "\n";
*/

echo '&lt;/items&gt;' . "\n";
</string>
				<key>title</key>
				<string>Show Bitcoin stats</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B35323EA-4CEE-4A81-8679-8870826394B0</string>
		</dict>
	</array>
	<key>readme</key>
	<string># BitcoinStats

&gt; BitcoinStats in an Alfred 2 workflow that display statistics from [realtimebitcoin.info](http://realtimebitcoin.info).

## Usage

Type `btc` in Alfred, optionally followed by a currency.
You may change the default currency by editing the Script Filter and setting `$DEFAULT_CURRENCY` to any of the following available currencies:
	USD, CNY, JPY, SGD, HKD, CAD, AUD, NZD, GBP, DKK, SEK, BRL, CHF, EUR, RUB, SLL, PLN, THB

Select any item to copy its value to the clipboard.

You can hide the Credits and Help items by editing the Script Filter and setting `$SHOW_CREDITS` and `$SHOW_HELP` to false.

## Screenshot

![Screenshot of the "search results"](http://goo.gl/DvXWz).

## Credits

Bitcoin statistics are gathered from [realtimebitcoin.info](http://realtimebitcoin.info), with the permission from its author.

Bitcoin icon from [https://en.bitcoin.it/wiki/Promotional_graphics]().

## License

Copyright © 2013 Romain Ruetschi (romain.ruetschi@gmail.com)

BitcoinStats is released under the [MIT license](http://romac.mit-license.org).</string>
	<key>uidata</key>
	<dict>
		<key>B35323EA-4CEE-4A81-8679-8870826394B0</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>C699FA24-7A51-403D-B65D-B8DD4744A4EF</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>romac.me</string>
</dict>
</plist>
